meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
meta(name='author', content='jdheywood.com')
meta(name='description', content=meta.description)
meta(name='keywords', content=meta.keywords)

// robots
meta(name="robots", content="noindex, nofollow")

// mobile capable
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="mobile-web-app-capable", content="yes")

title #{meta.title}

// Favicon and touch icons for Web, iOS and 'Droid devices
link(rel='icon', href='/img/favicon.ico?v=0')
link(rel='apple-touch-icon', sizes='57x57', href='/img/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='72x72', href='/img/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='114x114', href='/img/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='144x144', href='/img/apple-icon-144x144.png')

link(href='/css/bootstrap.min.css', rel='stylesheet')

// script(src='/js/lib/ie-emulation-modes-warning.js')
script(src='/js/lib/ie10-viewport-bug-workaround.js')
