html, 
body.home {
  background: url("../../../../img/bg-gradient-2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  html,
  body {
	height: 100%;
  }
}
